# common
*.tig
*~
*.swp
*.s

# codegen
codegen/regalloc/.cm/
codegen/regalloc/runscript.sml

codegen/insnsel/.cm/
codegen/insnsel/runscript.sml

# ir
ir/.cm/**
ir/runscript.sml
ir/test_mips_frame.sml

# typechecker
typechecker/.cm/**
typechecker/runscript.sml
typechecker/tycheck_fail.sml
typechecker/tycheck_pass.sml
typechecker/runtests.sml

# parser
parser/.cm/**
parser/runscript.sml
parser-with-absyn-tree-generation/.cm/
parser-with-absyn-tree-generation/runscript.sml
*.grm.*

# lexer
lexer/.cm/**
*.lex.sml
lexer/runscript.sml
